API_GATEWAY_PORT=8080
IDENTITY_SERVICE_PORT=8081
GAME_SERVICE_PORT=8082
MATCHMAKING_SERVICE_PORT=8083
SOCIAL_SERVICE_PORT=8084
CHAT_SERVICE_PORT=8085
RANKING_SERVICE_PORT=8086
COMPETITION_SERVICE_PORT=8087
SHOP_SERVICE_PORT=8088
WALLET_SERVICE_PORT=8089
GAME_DB_USER=poker
GAME_DB_PASSWORD=poker_dev
